@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Regular.ttf");
}

@font-face {
  font-family: "Mak";
  src: url("../fonts/MAK.otf");
}

@font-face {
  font-family: "MakBold";
  src: url("../fonts/MAK-bold.otf");
}